@charset "utf-8";
/* CSS for lambdacloud*/

html { -webkit-text-size-adjust:none }
body{font-size:14px;line-height:28px;text-align:center;font-family:"Microsoft YaHei", "微软雅黑", "华文细黑", sans-serif;padding:0;margin:0;min-width:1200px;color:#333;background:#f8f8f8;}
html,h1,h2,h3,h4,h5,h6,p,dl,ul,ol,li,dt,dd,img,div,fieldset{margin:0;padding:0;border:0;list-style:none;}
em{font-style:normal;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#333;}

.head{background:#FFF;box-shadow:5px 0 20px rgba(0,0,0,0.1)}
.header{height:90px;width:1000px;margin:0 auto;position:relative;}
.header a.logo{height:50px;width:175px;position:absolute;left:0;top:20px;text-align:left;}
.header a.logo img{width:175px;height:50px;}
.header ul{position:absolute;left:200px;height:30px;bottom:20px;}
.header ul li{height:30px;float:left;padding-right:10px;}
.header ul li a{height:30px;float:right;font-size:14px;font-weight:bold;padding:0 20px;border-radius:3px;line-height: 30px;}
.header ul li a:hover,.header ul li a.here{background:#f26535;color:#FFF;}
.header .login{position:absolute;bottom:20px;right:0;text-align:right;width:200px;}
.header .login a{display:inline-block;height:26px;font-size:14px;padding:0 15px;border:solid 1px #666;border-radius:3px;line-height:26px;margin-left:10px;color:#666;}

.foucs{height:540px;width:100%;overflow:hidden;position:relative;}
.foucs img{position:absolute;margin-left:50%;left:-960px;width:1920px;height:540px;}
.foucs .btn{position:absolute;margin-left:50%;left:-500px;width:1000px;height:52px;z-index:10;bottom:100px;}
.foucs .btn a{display:inline-block;border:solid 1px #FFF;height:50px;line-height:50px;width:240px;margin:0 10px;color:#FFF;border-radius:4px;}

.index_products_show{width:1000px;height:700px;margin:0 auto;overflow:hidden;padding-top:30px;}
.index_products_show ul li{float:left;width:270px;height:100px;padding:230px 30px 0 30px;line-height:20px;color:#666;}
.index_products_show ul li span{font-size:20px;display:block;font-weight:bold;padding-bottom:10px;color:#333;}
.index_products_show ul li{background-size:139px 139px;}
.index_products_show ul li.i01{background:url(../images/i01.png) no-repeat center 50px;}
.index_products_show ul li.i02{background:url(../images/i02.png) no-repeat center 50px;}
.index_products_show ul li.i03{background:url(../images/i03.png) no-repeat center 50px;}
.index_products_show ul li.i04{background:url(../images/i04.png) no-repeat center 50px;}
.index_products_show ul li.i05{background:url(../images/i05.png) no-repeat center 50px;}
.index_products_show ul li.i06{background:url(../images/i06.png) no-repeat center 50px;}


.patner{width:999px;margin:0 auto;border:solid 1px #ccc;overflow:hidden;margin-bottom:70px;background:#FFF;}
.patner .title{height:83px;width:1000px;position:relative;}
.patner .title h3{height:70px;line-height:30px;background:#333;position:absolute;top:0;left:20px;padding:0 30px;line-height:70px;color:#FFF;font-size:16px;border-radius:0 0 5px 5px}
.patner .title ul{position:absolute;right:20px;top:25px;width:200px;}
.patner .title ul li{float:left;}
.patner .title ul li a{height:30px;padding:0 10px;line-height:30px;}
.patner .title ul li a.here{border-radius:5px;height:30px;background:#f26535;float:left;padding:0 10px;color:#FFF;margin-right:20px;}
.patner ol{width:1010px;height:181px;overflow:hidden;}
.patner ol li{float:left;width:199px;border-right:dotted 1px #ccc;height:70px;padding-top:20px;border-bottom:dotted 1px #ccc;}
.patner ol li img{width:160px;height:60px;}

.page_fream{width:998px;border:solid 1px #ebebeb;margin:40px auto;background:#FFF;box-shadow:0px 0 1px rgba(0,0,0,0.1);position:relative;}
.page_fream .title{height:82px;background:url(../images/title_bg2.jpg) repeat-x;padding-left:50px;}
.page_fream .title li{height:80px;line-height:80px;float:left;border-left:solid 1px #fff;}
.page_fream .title li a{float:left;height:80px;font-size:14px;border-left:solid 1px #ededed;padding:0 50px;}
.page_fream .title li a.here{background:#f39800;color:#FFF;box-shadow:inset 0px 0px 5px rgba(0,0,0,0.2);text-shadow:1px 1px 0px rgba(0,0,0,0.5)}
.page_fream img.img_left{position:absolute;left:-10px;top:-17px;display:none;}
.page_fream img.img_right{position:absolute;right:10px;top:10px;display:none;}

.page_fream .news_list{text-align:left;padding:30px 50px;}
.page_fream .news_list ul li{height:40px;line-height:40px;background:url(../images/list_bg.jpg) no-repeat 0 21px;padding-left:10px;}
.page_fream .news_list ul li a{margin-right:30px;}
.page_fream .news_list ul li span{color:#ccc;}
.page_fream .news_texts{padding:30px 50px;text-align:left;}
.page_fream .news_texts h2{font-size:18px;color:#5d99ab;margin-bottom:15px;}
.page_fream .news_texts p{margin-bottom:15px;}

.page_fream .more{border-top:dotted 1px #ccc;height:80px;position:relative;clear:both;}
.page_fream .more a.last{position:absolute;left:50px;top:26px;color:#5d99ab;}
.page_fream .more a.next{position:absolute;right:50px;top:26px;color:#5d99ab;}


.page_fream .good{padding:30px 40px 30px 40px;text-align:left;}
.page_fream .good .line{border-bottom:dotted 1px #ccc;width:100%;float:left;margin-bottom:30px;padding-bottom:30px;}
.page_fream .good .list{width:425px;float:left;padding-right:30px;}
.page_fream .good .list h3{font-size:24px;margin-bottom:10px;color:#5d99ab;padding-left:40px;height:30px;line-height:30px;font-weight:normal;}
.page_fream .good .list h3.g01{background:url(../images/b01.jpg) no-repeat;}
.page_fream .good .list h3.g02{background:url(../images/b02.jpg) no-repeat;}
.page_fream .good .list h3.g03{background:url(../images/b03.jpg) no-repeat;}
.page_fream .good .list h3.g04{background:url(../images/b04.jpg) no-repeat;}
.page_fream .good .list h3.g05{background:url(../images/b05.jpg) no-repeat;}
.page_fream .good .list h3.g06{background:url(../images/b06.jpg) no-repeat;}

.page_fream .comments{border-bottom:dotted 1px #ccc;padding:20px 0;float:left;width:100%;}
.page_fream .comments .logo{width:190px;height:170px;float:left;}
.page_fream .comments .texts{width:720px;float:right;}
.page_fream .comments .texts p{text-align:right;color:#5d99ab;}
.page_fream .comments .texts p.words{text-align:left;color:#333;padding-bottom:10px;}

.page_fream .ways .list_head{border-bottom:dotted 1px #ccc;position:relative;padding:55px;text-align:left;}
.page_fream .ways .list_head h2{font-size:24px;line-height:36px;padding-bottom:10px;}
.page_fream .ways .list_head h2 span{display:block;font-size:20px;font-weight:normal;}
.page_fream .ways .list{height:400px;border-bottom:dotted 1px #ccc;position:relative;}
.page_fream .ways .list .img{float:right;padding-right:20px;}
.page_fream .ways .list .img_right{float:left;padding-left:30px;}
.page_fream .ways .list .way_texts{height:250px;padding-top:80px;width:400px;text-align:left;position:absolute;left:60px;top:0;text-align:left;}
.page_fream .ways .list .way_texts h2{margin-bottom:10px;font-weight:normal;font-size:24px;font-weight:bold;padding-left:40px;height:32px;line-height:32px;}
.page_fream .ways .list .way_texts h3{font-weight:normal;font-size:16px;margin-bottom:15px;}
.page_fream .ways .list .ways_right{height:250px;padding-top:80px;width:400px;text-align:left;position:absolute;right:60px;top:0;text-align:left;}
.page_fream .ways .list .ways_right h2{margin-bottom:10px;font-weight:normal;font-size:24px;font-weight:bold;padding-left:40px;height:32px;line-height:32px;}
.page_fream .ways .list .ways_right h3{font-weight:normal;font-size:16px;margin-bottom:15px;}
.page_fream .ways .list img.g001{position:absolute;left:-70px;top:10px;height:380px;width:615px;}
.page_fream .ways .list img.g002{position:absolute;right:-70px;top:0px;height:400px;width:600px;}
.page_fream .ways .list img.g003{position:absolute;left:-70px;top:10px;height:380px;width:610px;}
.page_fream .ways .list img.g004{position:absolute;right:-70px;top:10px;}
.page_fream .ways .list h2.h01{background:url(../images/l01.png) no-repeat;background-size:31px 31px;}
.page_fream .ways .list h2.h02{background:url(../images/l02.png) no-repeat;background-size:31px 31px;}
.page_fream .ways .list h2.h03{background:url(../images/l03.png) no-repeat;background-size:31px 31px;}
.page_fream .ways .list h2.h04{background:url(../images/l04.png) no-repeat;background-size:31px 31px;}
.page_fream .lgs_info{height:50px;line-height:50px;padding-top:20px;}
.page_fream .lgs_info dl{padding-left:55px;}
.page_fream .lgs_info dl dt{float:left;font-size:20px;font-weight:bold;padding-right:50px;height:50px;line-height:50px;}
.page_fream .lgs_info dl dd{float:left;width:200px;height:50px;position:relative;line-height:50px;}
.page_fream .lgs_info dl dd span{width:80px;height:10px;position:absolute;left:150px;top:20px;overflow:hidden;}
.page_fream .lgs_info dl dd span.green{background:#49cdb0;}
.page_fream .lgs_info dl dd span.yellow{background:#ff9b00;}
.page_fream .lgs_info dl dd span.red{background:#ff6900;}
.page_fream .map{padding:30px 0;}

.page_fream .about{padding:50px;text-align:left;background:url(../images/about.jpg) no-repeat;padding-top:420px;background-size:1000px 390px;}
.page_fream .about h3{font-size:18px;padding:20px 0;}

.page_fream .join_us{padding:50px;text-align:left;}
.page_fream .join_us h3{font-size:16px;padding-top:20px;}
.page_fream .join_us .join_quite{padding-bottom:30px;}
.page_fream .join_us .list{padding:30px 0;border-top:dotted 1px #ccc;}

.page_fream .contact_us{padding:50px;}
.page_fream .contact_us .info{padding:40px 0;text-align:left;}
.page_fream .contact_us .info h2{font-size:24px;margin-bottom:5px;}
.page_fream .contact_us .info h3{font-size:18px;padding-bottom:10px;margin-bottom:10px;border-bottom:dotted 1px #ccc;}

.list_page{height:80px;padding-left:50px;}
.list_page a{float:left;height:40px;padding:0 15px;background:#ccc;margin-right:10px;line-height:40px;border-radius:5px;}
.list_page a.here{background:#f26535;color:#FFF;}

.login{width:100%;text-align:left;}
.login .logo{position:absolute;height:87px;width:291px;margin-left:50%;left:-140px;top:100px;}
.login .login_area{width:340px;position:absolute;top:200px;left:-200px;margin-left:50%;background:#FFF;box-shadow:0px 0px 15px rgba(0,0,0,0.5);padding:30px;text-align:left;position:relative;overflow:hidden;}
.login .login_area a.home{position:absolute;height:30px;width:30px;background:url(../images/home.jpg) no-repeat;top:20px;right:20px;overflow:hidden;text-indent:-9999px;}
.login .login_area h2{font-weight:normal;font-size:30px;margin-bottom:30px;}
.login .login_area h2 span{font-size:22px;padding-left:20px;}
.login .login_area p{margin-bottom:10px;position:relative;}
.login .login_area p .index_input_id{height:40px;line-height:40px;border-radius:3px;border:solid 1px #ccc;width:298px;padding-left:40px;font-size:14px;font-family:"微软雅黑",Tahoma,"宋体";color:#666;background:url(../images/login01.jpg) no-repeat 14px 14px;}
.login .login_area p .index_input_ps{height:40px;line-height:40px;border-radius:3px;border:solid 1px #ccc;width:298px;padding-left:40px;font-size:14px;font-family:"微软雅黑",Tahoma,"宋体";color:#666;background:url(../images/login02.jpg) no-repeat 14px 14px;}
.login .login_area p .index_input_code{height:40px;line-height:40px;border-radius:3px;border:solid 1px #ccc;width:198px;padding-left:40px;font-size:14px;font-family:"微软雅黑",Tahoma,"宋体";color:#666;background:url(../images/login02.jpg) no-repeat 14px 14px;}
.login .login_area .tips{height:24px;line-height:24px;background:#bd0000;color:#FFF;padding:0 10px;font-size:12px;margin-bottom:10px;}
.login .login_area p .index_input_btn{height:40px;width:140px;background:#96c3cf;border:solid 1px #79b0bf;border-radius:3px;font-family:"微软雅黑",Tahoma,"宋体";color:#FFF;font-weight:bold;text-shadow:1px 1px 1px rgba(0,0,0,0.5);font-size:14px;margin-right:30px;}
.login .login_area p label{font-size:12px;padding-left:5px;}
.login .login_area p .code{position:absolute;height:43px;right:0;top:0;width:90px;background:#f5f5f5;line-height:43px;text-align:center;}

.bottom_info{height:400px;background:#333 url(../images/bottom_bg.png) no-repeat;background-size:1920px 400px;}
.bottom_info .bottom_main{width:1000px;height:400px;margin:0 auto;position:relative;}
.bottom_info .bottom_main .bottom_infos{height:200px;width:300px;padding-left:300px;padding-top:30px;text-align:left;font-size:12px;position:absolute;top:100px;background:#fff url(../images/bottom_info.png) no-repeat;color:#666;background-size:280px 215px;}
.bottom_info .bottom_main .bottom_logo{width:229px;height:81px;position:absolute;top:150px;right:0;}
.bottom_info .bottom_main .bottom_logo img{width:230px;height:80px;}

.l001,.l002,.l003,.l004{height:360px;width:500px;}
.g005{width:900px;height:260px;}

.footer{background:#111;color:#FFF;}
.footer .foot{height:60px;width:1000px;margin:0 auto;position:relative;line-height:60px;text-align:right;font-size:12px;color:#999;}
.footer .foot ul li{float:left;height:60px;padding-right:50px;}
.footer .foot ul li a{color:#999;line-height:60px;}


/*Retina background images display patch*/

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
.index_products_show ul li.i01{background:url(../images/i01@2x.png) no-repeat center 50px;background-size:139px 139px;}
.index_products_show ul li.i02{background:url(../images/i02@2x.png) no-repeat center 50px;background-size:139px 139px;}
.index_products_show ul li.i03{background:url(../images/i03@2x.png) no-repeat center 50px;background-size:139px 139px;}
.index_products_show ul li.i04{background:url(../images/i04@2x.png) no-repeat center 50px;background-size:139px 139px;}
.index_products_show ul li.i05{background:url(../images/i05@2x.png) no-repeat center 50px;background-size:139px 139px;}
.index_products_show ul li.i06{background:url(../images/i06@2x.png) no-repeat center 50px;background-size:139px 139px;}

.page_fream .ways .list h2.h01{background:url(../images/l01@2x.png) no-repeat;background-size:31px 31px;}
.page_fream .ways .list h2.h02{background:url(../images/l02@2x.png) no-repeat;background-size:31px 31px;}
.page_fream .ways .list h2.h03{background:url(../images/l03@2x.png) no-repeat;background-size:31px 31px;}
.page_fream .ways .list h2.h04{background:url(../images/l04@2x.png) no-repeat;background-size:31px 31px;}

.bottom_info .bottom_main .bottom_infos{background:#FFF url(../images/bottom_info@2x.png) no-repeat;background-size:280px 215px;}

.page_fream .about{background:url(../images/about@2x.jpg) no-repeat;background-size:1000px 390px;}
}